.languagecenterview {
  display: flex;
  justify-content: center;
  margin: 50px 25px;
  flex-direction: column;
  align-content: 'center';
  align-items: center;
}

.languagecenter-table {
  margin-top: 4em;
  width: 115em;
}


input[type="radio"] {
  margin-left: 2em;
}

.toggle-label {
  cursor: pointer;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: bold;
}

.toggle-label-checked {
  cursor: pointer;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: bold;
  opacity: 0.5;
}

.options-container {
  display: flex;
  gap: 20em;
  margin-top: 1.4em;
  font-size: large;
}

.datepicker-container {
  display: flex;
}

.datepicker-acual-container {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.calendar-icon-container {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 0.6em;
}

.completion-acual-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}