@custom-media --mobile (max-width: 768px);

:root {
  font-size: 16px;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: unset;
  line-height: unset;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.1rem;
  text-transform: uppercase;
}

h4 {
  font-size: 0.9rem;
}

p {
  line-height: unset;
}

figure {
  font-size: 0.8rem;
  margin: 0;
}

h1 {
  margin-bottom: 0.7em;
}

button {
  border-radius: 0;
}

.button.disabled {
  cursor: default;
  background-color: var(--darkSilver);
}

.page-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em 2em 5rem;
}

.mobileOnly {
  display: none;
}

.helpIcon {
  color: var(--blue);
}

.removeIcon {
  color: var(--blue);
  cursor: pointer;

  &:hover {
    color: var(--darkBlue);
  }
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  vertical-align: bottom;
}

.iconText::before {
  content: "";
}

.iconRemove::before {
  content: "";
}

@media (--mobile) {
  .page-container {
    max-width: 100%;
    margin: 0;
    padding: 1.2em 1.2em 5rem;
  }

  .mobileOnly {
    display: initial;
  }
}

.page-content h1 {
  margin-bottom: 1.5em;
}

.is-required {
  color: var(--blue);
  font-weight: 600;
}

.formError {
  border-left: 4px solid var(--red) !important;
  padding-left: 1em !important;
}

.hy-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:focus {
  outline: 0;
}
