.progress-bar-with-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}

.progress-bar-with-label .ui.progress {
  width: 130px;
  margin-bottom: 0;
  flex-grow: 1;
}

.progress-bar-with-label .ui.progress .bar {
  min-width: 0;
}
