version: '3.2'

services:
  user_db:
    environment:
      - POSTGRES_MULTIPLE_DATABASES=user_db,user_db_real
    restart: unless-stopped

  analytics_db:
    environment:
      - POSTGRES_MULTIPLE_DATABASES=analytics_db,analytics_db_real
    restart: unless-stopped

  backend:
    build:
      args:
        NODE_ENV: 'development'
        TAG: 'development'
    command: ['npm', 'run', 'dev']
    environment:
      FRONT_URL: http://localhost:8000
    volumes:
      - backend-nodemod:/usr/src/app/node_modules
      - ./services/backend/oodikone2-backend/:/usr/src/app
      - ./services/backend/shared/models:/usr/src/app/src/models
      - ./services/backend/shared/migrations:/usr/src/app/src/database/migrations
      - ./services/backend/shared/migrations_kone:/usr/src/app/src/database/migrations_kone
    restart: unless-stopped

  frontend:
    build:
      args:
        NODE_ENV: 'development'
        TAG: 'development'
    command: ['npm', 'run', 'docker']
    ports:
      - "8081:8081"
      - "7777:7777"
    environment:
      USER_ADMINER_URL: http://localhost:5050/?pgsql=user_db&username=postgres
      ANALYTICS_ADMINER_URL: http://localhost:5050/?pgsql=analytics_db&username=postgres
      KONE_ADMINER_URL: http://localhost:5050/?pgsql=db_kone&username=postgres
      SIS_ADMINER_URL: http://localhost:5050/?pgsql=db_sis&username=postgres
      SIS_IMPORTER_ADMINER_URL: http://localhost:5050/?pgsql=sis-importer-db&username=postgres
    volumes:
      - frontend-nodemod:/usr/src/app/node_modules
      - ./services/oodikone2-frontend/:/usr/src/app
    restart: unless-stopped

  userservice:
    build:
      args:
        NODE_ENV: 'development'
    command: ['npm', 'run', 'dev']
    volumes:
      - userservice-nodemod:/usr/src/app/node_modules
      - ./services/oodikone2-userservice/:/usr/src/app
    restart: unless-stopped

  analytics:
    build:
      args:
        NODE_ENV: 'development'
    command: ['npm', 'run', 'dev']
    volumes:
      - analytics-nodemod:/usr/src/app/node_modules
      - ./services/oodikone2-analytics/:/usr/src/app
    restart: unless-stopped

volumes:
  backend-nodemod:
  analytics-nodemod:
  frontend-nodemod:
  userservice-nodemod:
