.segmentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.segmentTitle {
  margin-top: 5px !important;
}

.contentSegment {
  border: none !important;
  box-shadow: none !important;
  margin-top: 0 !important;
  width: 100%;
  max-width: 1400px;
  min-width: 600px;
}
