.navBar {
  display: grid !important;
  grid-auto-flow: column !important;
  border-radius: 0 !important;
  border-top: none !important;
}

.navBar::after {
  content: none !important;
}

.navBar .item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}

.logo {
  text-decoration: none;
}

.logoText {
  color: var(--black);
}
