/* stylelint-disable */

.navBar {
  display: grid !important;
  grid-auto-flow: column !important;
  border-radius: 0 !important;
  border-top: none !important;
}

.navBar::after {
  content: none !important;
}

.navBar .item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}

.logo {
  text-decoration: none;;
}

.logoText {
  color: var(--black) ;;
}

.sis-destruction-siren {
  width: 75px;
  height: 75px;
  animation: 0.5s infinite running sis-siren;
}

@keyframes sis-siren {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.sis-danger-zone-button {
  background-color: #d01919;
  animation: 2s ease-in-out infinite running sis-danger-zone-button-heartbeat;
}

@keyframes sis-danger-zone-button-heartbeat {
  from {
    background-color: #d01919;
    transform: scale(1.05);
  }
  to {
    background-color: rgba(230, 107, 107, 0.76);
    transform: scale(1);
  }
}

.sis-danger-zone-button::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.28571429rem;
  box-shadow: 0 0 25px 5px rgba(224, 114, 40, 0.75);
  opacity: 1;
  animation: 2s ease-in-out infinite running sis-danger-zone-opacity;
}

@keyframes sis-danger-zone-opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}
