{
  "presets": [
    ["latest", {
      "es2015": {
        "modules": false
      }
    }],
    "react"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "transform-object-rest-spread"
      ]
    },
    "test": {
      "plugins": [
        "transform-async-to-generator",
        "inline-json-import"
      ]
    }
  }
}
