{
  "presets": [
    ["latest", {
      "es2015": {
        "modules": false
      }
    }],
    "react"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "plugins": [
        "transform-async-to-generator",
        "inline-json-import",
      ]
    }
  }
}
