# See https://help.github.com/ignore-files/ for more about ignoring files.
cypress/videos
cypress/support
# dependencies
/node_modules

# testing
/coverage

# production
/build
dist

# IDE metadata
.vscode
.idea
*.iml

# misc
.DS_Store
.env.local
.env.dev.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Stats
stats.json
cypress/screenshots