{
  "extends": ["stylelint-config-standard", "stylelint-prettier/recommended"],
  "rules": {
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": ["/^--/", "--"]
      }
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ],
    "prettier/prettier": true,
    "selector-class-pattern": null,
    "custom-property-pattern": null,
    "value-no-vendor-prefix": null,
    "property-no-vendor-prefix": null
  }
}
