.courseCodeInput {
  width: 100% !important;
  margin-left: 0.25em !important;
  text-decoration: underline;
}

.activeSortHeader {
  background-color: darkgray;
}

.iconCellNoPointer {
  border-left: 0 !important;
}

.nameCell,
.iconCell {
  border-left: 0 !important;
}

.filterCell {
  border-right: 0 !important;
}

.clickableCell {
  cursor: pointer;
}

.studentVerticalTitle {
  writing-mode: vertical-rl;
  min-width: 64px;
  max-width: 200%;
  max-height: 200px;
  white-space: initial;
  padding: 1px;

  /* transform:
    translate(-25px, 80px)
    rotate(270deg);
  background-color: transparent !important; */
}

.menuTab {
  overflow-y: auto;
  max-height: 80vh;
  padding: 0;
}

.flex-cell {
  display: flex;
  justify-content: space-around;
}
