.courseCodeInput {
  margin-left: 0.25em !important;
  width: 6em;
  text-decoration: underline;
}

.activeSortHeader {
  background-color: darkgray;
}

.iconCell {
  border-left: 0 !important;
  cursor: pointer;
}

.clickableCell {
  cursor: pointer;
}
