.programmes-overview .toggle-container,
.faculty-overview .toggle-container,
.faculty-courses .toggle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.faculty-overview .radio-toggle,
.faculty-courses .radio-toggle {
  display: flex;
  justify-content: center;
  margin: 20px 35px;
}

.programmes-overview .radio-toggle {
  display: flex;
  justify-content: center;
  margin: 0 35px 70px;
}

.programmes-overview .toggle-label,
.faculty-overview .toggle-label,
.faculty-courses .toggle-label {
  cursor: pointer;
  font-weight: bold;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.programmes-overview .toggle-label-checked,
.faculty-overview .toggle-label-checked,
.faculty-courses .toggle-label-checked {
  cursor: pointer;
  font-weight: bold;
  opacity: 0.5;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.programmes-overview .ui.toggle.checkbox input:checked ~ label::before,
.faculty-courses .ui.toggle.checkbox input:checked ~ label::before,
.programmes-overview .ui.toggle.checkbox input:focus:checked ~ label::before,
.faculty-courses .ui.toggle.checkbox input:focus:checked ~ label::before,
.faculty-overview .ui.toggle.checkbox:not(.original-toggle-container .ui.toggle.checkbox) input:checked ~ label::before,
.faculty-overview
  .ui.toggle.checkbox:not(.original-toggle-container .ui.toggle.checkbox)
  input:focus:checked
  ~ label::before {
  background-color: rgb(0 0 0 / 5%) !important;
}

.original-toggle-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.faculty-overview .divider {
  margin-bottom: 1em;
  margin-top: 2em;
}

.faculty-overview .ok-infobox-collapsed {
  margin-bottom: 1.5em;
}

.total-row-cell {
  border-top: 3px solid rgb(189 180 180);
  font-weight: bold;
}

.programmes-overview .programmes-selector {
  margin: 60px 60px 30px;
}

.programmes-overview .header-row {
  font-weight: bold;
}

.programmes-overview .datatable {
  margin: 2em 0 5em;
}

.programmes-overview .datatable th,
.faculty-overview .datatable th {
  white-space: pre-line;
}

.programmes-overview .no-data-message {
  margin: 20px 0;
}

.update-view {
  margin: 2em 0;
}

.update-view .button-container {
  margin: 1em 0;
}

.graduations-message {
  align-items: center;
  display: flex;
  justify-content: center;
}

.graduations-chart-container {
  display: flex;
  justify-content: space-between;
}

.facultyLinkBox {
  display: grid;
  gap: 0.5rem 1rem;
  grid-auto-flow: column;
  grid-template-rows: repeat(4, 1fr);
}
