:root {
  --date-browse {
    font-size: small;
    min-width: 80px;
    display: inline-block;
  }
}

:global(.disabled) {
  &:hover {
    cursor: default;
    font-size: inherit !important;
  }
}

.dateSelector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controlIconContainer {
  min-width: 25px;
  min-height: 25px;
  text-align: center;
}

.controlIcon {
  cursor: pointer;

  &:hover {
    font-size: large;
    color: var(--deepBlack);
  }
}

.controlDropdown {
  min-height: 25px;
  padding-left: 2px;
  padding-right: 5px;
}

.dateBrowser {
  margin-right: 25px;
  text-align: center;
}

.selectedDate {
  @apply --date-browse;

  color: var(--darkSilver);
  padding-left: 5px;
  padding-right: 5px;
}

.nextDate {
  @apply --date-browse;

  color: var(--lightGray);
}
