.proto-g-row {
  cursor: pointer;
}

/* expanded accordion: shadow below */
.proto-g-row--expanded {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* next row of an expanded accordion: shadow above */
.proto-g-row-child + .proto-g-row {
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 2px rgba(0, 0, 0, 0.24);
}

/* expanded accordion that's next of an expanded accordion: shadow above and below */
.proto-g-row-child + .proto-g-row--expanded {
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 2px rgba(0, 0, 0, 0.24), 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}
