.my-cool-data-science {
  margin: 0 auto;
}

.cool-ds-nav-tiles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px 0;
}

.cool-data-science-tile {
  width: 200px;
  height: 200px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.cool-data-science-tile__link {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.cool-data-science-tile__link,
.cool-data-science-tile__link:hover,
.cool-data-science-tile__link:visited {
  color: inherit;
}

.cool-data-science-tile.cool-data-science-tile--active {
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.cool-data-science-tile__title {
  opacity: 0.7;
}

.cool-data-science-tile__image {
  margin-top: auto;
  max-width: 100%;
  opacity: 0.5;
}

.cool-data-science-tile__title,
.cool-data-science-tile__image {
  transition: opacity 200ms cubic-bezier(0, 0, 0.2, 1);
}

.cool-data-science-tile--active .cool-data-science-tile__title,
.cool-data-science-tile--active .cool-data-science-tile__image,
.cool-data-science-tile:hover .cool-data-science-tile__title,
.cool-data-science-tile:hover .cool-data-science-tile__image {
  opacity: 1;
}
