.proto-g-row {
  cursor: pointer;
}

.proto-g-row-child {
  font-size: 0.9em;
}

.proto-g-row--expanded > td {
  border-bottom: 1px solid #dddde5;
}

.proto-g-row--expanded > td:first-of-type {
  border-left-color: #c4c4ca;
}

.proto-g-row--expanded > td:last-of-type {
  border-right: 4px solid #c4c4ca;
}

.proto-g-row > td:first-of-type {
  border-left: 4px solid #dddde5;
}

.proto-g-table .proto-g-row-child + .proto-g-row > td {
  border-top: 4px solid #f3f3f6;
}
