.status-card {
  transition: all 0.1s linear;
}

.status-card:hover .status-title {
  font-weight: bold;
}

.status-card:hover {
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.years {
  margin-top: 10px;
  text-align: start;
  font-variant-numeric: tabular-nums;
  display: grid;
  grid-template-columns: repeat(4, fit-content(0));
}

.subtitle {
  color: #888;
}

.unit {
  margin-left: 0.3em;
}

.year-label {
  white-space: nowrap;
  padding-right: 0.5em;
}

.year-value {
  text-align: right;
  white-space: nowrap;
}

.year-row {
  position: relative;
  padding-left: 0.5em;
  display: contents;
}

.year-row .unit {
  grid-column: 5;
}

.year-row .separator {
  color: #aaa;
  margin: 0 0.3em;
}

.status-date-time-input {
  padding-right: 0;
  margin-left: 5px;
}

.status-date-time-input input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
