.ok-infobox.ok-infobox.ok-infobox {
  display: flex;
  width: fit-content;
}

.ok-infobox.ok-infobox.ok-infobox .content {
  padding-bottom: 3em;
}

.ok-infobox-collapsed.ok-infobox-collapsed.ok-infobox-collapsed {
  margin-bottom: 1em;
}

.ok-infobox-collapsed i.icon {
  font-size: 1.2em;
}

.ok-infobox-close.ok-infobox-close.ok-infobox-close.ok-infobox-close {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #89e093 !important;
  color: #fff !important;
  font-size: 1.1rem;
}
