.courseNameCell {
  font-weight: 600;
}

.courseNameCell > span {
  font-weight: initial;
  font-size: smaller;
  color: grey;
}

.courseRealisationCell {
  padding-left: 2em !important;
}

.foldControlCell {
  cursor: pointer;
  padding-right: 0 !important;
  width: 1em !important;
}
