#credit-gain-stats .statistics-table {
  margin: 10px auto;
}

#credit-gain-stats .credits-gained-table {
  margin: 10px auto;
}

#credit-gain-stats .collapsing + th,
#credit-gain-stats .collapsing + td {
  border-left: none;
}

#credit-gain-stats .statistics-table tbody td:first-child {
  font-weight: bold;
}

#credit-gain-stats .statistics-table tbody td:nth-child(2) {
  text-align: right;
}

#credit-gain-stats .collapsing {
  padding-right: 0;
}

#credit-gain-stats .ui.primary.button:focus {
  background-color: #2185d0;
}
