.searchContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchContainer .contentSegment {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchInput {
  width: 100%;
  max-width: 750px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.clickable {
  cursor: pointer;
}
