.cardHeader {
  display: flex !important;
  justify-content: space-between !important;
}

.startDate {
  margin-top: 3px !important;
}

.controlIcon {
  cursor: pointer;
}

.enrollmentAccordion {
  margin-bottom: 10px;
}

.enrollmentRow {
  margin-left: 10px !important;
  color: #565656 !important;
}
