.cardHeader {
  display: flex !important;
  justify-content: space-between !important;
}

.controlIcon {
  cursor: pointer;
}

.enrollment-label-no-margin {
  border-radius: 0.28rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.margin-right:not(:last-child) {
  margin-right: 0.75rem;
}

.label-present {
  background-color: #03cc0d;
}

.label-absent {
  background-color: #ffb300;
}

.label-absent-statutory {
  background-color: #8e24aa;
}

.label-passive {
  background-color: #e53935;
}

.label-none {
  background-color: gray;
}
