@media only screen and (min-width: 3240px) {
  .studytrack-overview,
  .studyprogramme-overview,
  .studyprogramme-courses {
    max-width: 80%;
  }
}

@media only screen and (min-width: 3240px) {
  .studytrack-overview .section-container,
  .studyprogramme-overview .section-container,
  .studyprogramme-courses .section-container {
    justify-content: center !important;
  }
}

.studytrack-overview .toggle-container,
.studyprogramme-overview .toggle-container,
.studyprogramme-courses .toggle-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1em;
}

.studyprogramme-overview .radio-toggle,
.studyprogramme-courses .radio-toggle {
  display: flex;
  justify-content: center;
  margin: 20px 35px;
}

.studytrack-overview .radio-toggle {
  display: flex;
  justify-content: center;
  margin: 0 35px 70px;
}

.studytrack-overview .toggle-label,
.studyprogramme-overview .toggle-label,
.studyprogramme-courses .toggle-label {
  cursor: pointer;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: bold;
}

.studytrack-overview .toggle-label-checked,
.studyprogramme-overview .toggle-label-checked,
.studyprogramme-courses .toggle-label-checked {
  cursor: pointer;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: bold;
  opacity: 0.5;
}

.studytrack-overview .ui.toggle.checkbox input:checked ~ label::before,
.studyprogramme-overview .ui.toggle.checkbox input:checked ~ label::before,
.studyprogramme-courses .ui.toggle.checkbox input:checked ~ label::before,
.studytrack-overview .ui.toggle.checkbox input:focus:checked ~ label::before,
.studyprogramme-overview .ui.toggle.checkbox input:focus:checked ~ label::before,
.studyprogramme-courses .ui.toggle.checkbox input:focus:checked ~ label::before {
  background-color: rgb(0 0 0 / 5%) !important;
}

.studyprogramme-overview .divider {
  margin-top: 4em;
}

.studytrack-overview .section-container,
.studyprogramme-overview .section-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.studytrack-overview .section-container-centered,
.studyprogramme-overview .section-container-centered {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.studytrack-overview .graph-container,
.studyprogramme-overview .graph-container {
  min-width: 50%;
  height: 500px;
}

.studytrack-overview .graph-container-narrow,
.studyprogramme-overview .graph-container-narrow {
  min-width: 40%;
  height: 500px;
}

.studytrack-overview .table-container,
.studyprogramme-overview .table-container {
  max-width: 45%;
  margin-left: 1em;
  flex-grow: 2;
}

.studytrack-overview .table-container-wide,
.studyprogramme-overview .table-container-wide {
  max-width: 55%;
  margin-left: 1em;
  flex-grow: 2;
}

.studytrack-overview .datatable .total-row-cell,
.studytrack-overview .table-container .total-row-cell {
  border-top: 3px solid rgb(189 180 180);
  font-weight: bold;
}

.studytrack-overview .studytrack-selector {
  margin: 60px 60px 30px;
}

.studytrack-overview .header-row {
  font-weight: bold;
}

.studytrack-overview .datatable {
  margin: 2em 0 5em;
}

.studytrack-overview .no-data-message {
  margin: 20px 0;
}

.update-view {
  margin: 2em 0;
}

.update-view .button-container {
  margin: 1em 0;
}
