.studyprogramme-overview .year-toggle {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.studyprogramme-overview .toggle-label {
  cursor: pointer;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: bold;
}

.studyprogramme-overview .divider {
  margin-top: 4em;
}

.studyprogramme-overview .section-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.studyprogramme-overview .graph-container {
  min-width: 55%;
  height: 500px;
}

.studyprogramme-overview .table-container {
  width: 40%;
  height: 500px;
  margin-left: 2em;
}
