.studyprogramme-overview .radio-toggle {
  display: flex;
  justify-content: center;
  margin: 20px 35px 35px 35px;
}

.studytrack-overview .radio-toggle {
  display: flex;
  justify-content: center;
  margin: 0 35px 70px 35px;
}

.studytrack-overview .toggle-label,
.studyprogramme-overview .toggle-label {
  cursor: pointer;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: bold;
}

.studyprogramme-overview .divider {
  margin-top: 4em;
}

.studytrack-overview .section-container,
.studyprogramme-overview .section-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.studytrack-overview .graph-container,
.studyprogramme-overview .graph-container {
  min-width: 55%;
  height: 500px;
}

.studytrack-overview .table-container,
.studyprogramme-overview .table-container {
  width: 40%;
  height: 500px;
  margin-left: 2em;
}

.studytrack-overview .studytrack-selector {
  margin: 60px 60px 30px 60px;
}

.studytrack-overview .header-row {
  font-weight: bold;
}

.studytrack-overview .datatable {
  margin: 2em 0 5em 0;
}

.studytrack-overview .no-data-message {
  margin: 20px 0;
}

.update-view {
  margin: 2em 0;
}

.update-view .button-container {
  margin: 1em 0;
}
