.studyprogramme-overview .divider {
  margin-top: 4em;
}

.studyprogramme-overview .section-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.studyprogramme-overview .graph-container {
  min-width: 60%;
  height: 500px;
}

.studyprogramme-overview .table-container {
  width: 35%;
  height: 500px;
  margin-top: 2em;
  margin-left: 2em;
}
