
.cardHeader {
  display: flex !important;
  justify-content: space-between !important;
}

.startDate {
  margin-top: 3px !important;
}

.controlIcon {
  cursor: pointer;

  &:hover {
    font-size: large;
    color: var(--deepBlack);
  }
}
