/*
  Using css classes is faster than Mui style/sx/styled components
  and in large tables it can add up especially without virtualization
*/

.ot-data-cell.MuiTableCell-root {
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #e0e0e0; /* grey.300 */
  padding: 0 1em;
  height: 3em;
  white-space: nowrap;
}

.ot-data-cell > div:not(.MuiStack-root, .MuiBox-root) {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
