.courseCodeInput {
  width: 6rem !important;
  font-size: 0.85rem !important;
  margin-top: 0.5rem;
}

.activeSortHeader {
  background-color: darkgray;
}

.iconCellNoPointer {
  border-left: 0 !important;
}

.nameCell,
.iconCell {
  border-left: 0 !important;
}

.filterCell {
  border-right: 0 !important;
}

.clickableCell {
  cursor: pointer;
}

.studentVerticalTitle {
  writing-mode: vertical-rl;
  min-width: 24px;
  max-width: 200%;
  max-height: 200px;
  white-space: initial;
  text-align: center;
}

.menuTab {
  overflow-y: auto;
  max-height: 80vh;
  padding: 0;
}
