.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

TKT_HUL.csv
YET_HUL.csv
opisnrot.csv
attainments.csv
src/YET_HUL.csv
.vscode/