.colorized-courses-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colorized-courses-table > div {
  max-width: 100%;
}

input[type='radio'] {
  margin-left: 2em;
}

.options-container {
  display: flex;
  flex-direction: row;
  margin-top: 1.4em;
  font-size: large;
  flex: 1 1 0px;
}

.selector-container {
  display: flex;
  gap: 1em;
  margin: auto;
  flex-direction: column;
  max-width: 25vw;
}

table tr th,
td > div > i {
  max-width: 340px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
