.options-container {
  display: flex;
  flex-direction: row;
  margin-top: 1.4em;
  font-size: large;
  flex: 1 1 0px;
}

.selector-container {
  display: flex;
  gap: 1em;
  margin: auto;
  flex-direction: column;
}

.colored-info-expander {
  color: gray;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
