.colorized-courses-table {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

input[type='radio'] {
  margin-left: 2em;
}

.options-container {
  display: flex;
  flex-direction: row;
  margin-top: 1.4em;
  font-size: large;
  flex: 1 1 0px;
}

.selector-container {
  display: flex;
  gap: 0.4em;
  margin: auto;
  flex-direction: column;
  max-width: 12em;
}
