#filter-tray .courses-filter .description {
  padding-top: 0;
  margin-top: 0;
}

#filter-tray .course-card .header {
  color: #fff;
  padding: 0.7rem 0.5rem;
  padding-bottom: 0;
  font-size: 0.95rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#filter-tray .course-card .header > .button {
  margin: 0 0 0 0.5rem;
  align-self: flex-start;
}

#filter-tray .course-card .description {
  display: flex;
  align-items: baseline;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.7rem 0.5rem;
}

#filter-tray .course-card .description > .dropdown {
  margin-left: 0.8rem;
}

#filter-tray .course-filter-selection {
  margin-bottom: 2rem;
}

.hidden-focusable {
  height: 0 !important;
  width: 0 !important;
  border: none !important;
  overflow: hidden !important;
  padding: 0 !important;
  margin: 0 !important;
}
