.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

.routeViewContainer {
  flex: 1 0 auto;
  position: relative;
  padding-bottom: 2em;
}

.header {
  position: relative;
  background-color: var(--black);
  margin-bottom: 15px;
}

#main-menu {
  z-index: 9003;
}
