/** #filter-tray is used repeatedly as a selector to achieve higher specificity
    over semantic-ui without using !important everywhere. */

.filter-tray-toggle {
  transform: rotate(-90deg);
  position: fixed;
  left: 0;
  top: 100%;
  transform-origin: top left;
}

.filter-tray-toggle .button {
  width: 100vh;
  border-radius: 0;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

.filter-tray-toggle .button .button-label {
  display: flex;
  align-items: center;
  letter-spacing: 0.06rem;
}

.filter-tray-toggle .button .button-label .icon {
  margin-right: 0.6em;
}

.filter-tray-toggle .button .label {
  margin-left: 1rem;
}

.filter-tray-toggle .button .button-label > .label {
  padding: 0.5em 0.7em 0.3em;
  margin-top: -2px;
  margin-bottom: -2px;
}

#filter-ribbon-container {
  position: fixed;
  top: 19px;
  right: 253px;
}

#filter-ribbon {
  transform: rotate(90deg);
  font-size: 10px;
  padding-right: 18px;
}

.filter-tray-toggle.inline-toggle button {
  background-color: #2d2e2e !important;
}

.filter-tray-toggle.inline-toggle button:hover {
  background-color: #202121 !important;
}

#filter-tray {
  background-color: #1b1c1d;
  height: 100vh;
  align-content: flex-start;
  justify-content: center;
  margin: 0 0 0 3rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1.5rem 0 10rem;
}

#filter-tray-container > .header {
  display: flex;
  justify-content: space-between;
  min-height: 64px;
  padding: 1.1rem 1rem 1rem 1.7rem;
  border-bottom: 1px solid #a0a0a0;
  align-items: center;
  margin-bottom: 0 !important;
  margin-top: 63px;
  margin-left: 3rem;
  width: auto;
  color: white;
  order: -2;
}

#filter-tray .comparator-input > .label {
  padding-top: 0;
  padding-bottom: 0;
}

#filter-tray .comparator-input > .label > .dropdown {
  text-align: center;
  font-size: 1.1rem;
}

#filter-tray > .header > .content {
  display: flex;
  align-items: center;
}

#filter-tray > .header > .content > .label {
  margin-left: 1.5rem;
  padding-top: 0.7em;
}

#filter-tray .segmentContainer {
  margin-left: 35px;
  width: auto;
}

#filter-tray .card {
  background-color: rgb(255 255 255 / 8%);
  border: none;
  box-shadow: none;
  margin-top: 0;
}

#filter-tray .card .card-header-text {
  flex-grow: 1;
}

#filter-tray > .card > .content > .header {
  color: white;
  margin: 0;
  padding: 0.8rem;
  cursor: pointer;
  display: flex;
}

#filter-tray .card.active-filter {
  order: -1;
}

#filter-tray.cards .content {
  padding: 0;
}

#filter-tray.cards .description,
#filter-tray.cards .extra {
  padding: 0 0.8rem 0.8rem;
  margin: 0;
}

#filter-tray .card .extra {
  margin: 0 0 0 auto;
  padding-top: 0.8rem;
}

#filter-tray .checkbox {
  margin-left: 0.8rem;
}

#filter-tray label {
  color: #fff;
  font-size: 0.9rem;
}

#filter-tray .card .labeled.input .label {
  min-width: 76px;
  display: flex;
  align-items: center;
}

#filter-close-button {
  background: #1b1c1d;
}

#filter-tray .description-text {
  color: #9e9e9e;
  font-style: italic;
  margin: 1rem 0.2rem 0;
}

#filter-tray .card-content {
  margin-top: 0.8rem;
}

#filter-tray .total-credits-filter .description {
  margin-left: -4px;
}

#filter-tray .total-credits-filter .form {
  position: relative;
  left: 3px;
}

#filter-tray .button.toggle.active {
  background-color: #2085d0 !important;
}

#filter-tray .flex-centered {
  display: flex;
  justify-content: center;
}

#filter-tray .or::before {
  color: #fff;
  background-color: #2e2e2f;
  font-size: 0.8rem;
}

#filter-tray .filter-option-count {
  color: #ababab;
  margin-left: 0.6rem;
  font-size: 0.8rem;
  font-style: italic;
}
