.ok-infobox.ok-infobox.ok-infobox {
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: rgb(0 0 0 / 5%);
}

.ok-infobox.ok-infobox.ok-infobox .content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.5em;
}

.ok-infobox.ok-infobox.ok-infobox .content {
  color: black;
  background-color: transparent !important;
  margin: 0 0 0 1.5em;
  padding: 0;
}

.ok-infobox.ok-infobox.ok-infobox .content .header {
  padding-bottom: 0.4em;
}

.ok-infobox-collapsed.ok-infobox-collapsed.ok-infobox-collapsed {
  margin-bottom: 1em;
  white-space: nowrap;
  padding-top: 0.8em !important;
  padding-bottom: 0.8em !important;
}

.ok-infobox-collapsed i.icon {
  font-size: 1.2em;
}

.ok-infobox-close.ok-infobox-close.ok-infobox-close.ok-infobox-close {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid #1ebc30;
  margin: 0;
}

.ok-infobox.ok-infobox.ok-infobox h1,
.ok-infobox.ok-infobox.ok-infobox h2,
.ok-infobox.ok-infobox.ok-infobox h3,
.ok-infobox.ok-infobox.ok-infobox h4,
.ok-infobox.ok-infobox.ok-infobox h5,
.ok-infobox.ok-infobox.ok-infobox h6 {
  color: #1ebc30;
}

.ok-infobox.ok-infobox.ok-infobox h1 {
  font-size: 1.6rem;
  padding-bottom: 0.4em;
}

.ok-infobox.ok-infobox.ok-infobox h2 {
  font-size: 1.3rem;
}
