/* https://stackoverflow.com/a/41396815 */
.verticalTitle {
  writing-mode: vertical-rl;
  min-width: 32px;
  max-height: 20vh;
  overflow-y: hidden;
  text-align: left;
}

.verticalTitle:hover {
  overflow-y: auto;
}

.tableVerticalTitle {
  writing-mode: vertical-rl;
  min-width: 64px;
  max-width: 200%;
  max-height: 200px;
  white-space: initial;
  padding: 1px;
}

table#course-of-population-students tbody tr td:nth-child(n + 1) {
  z-index: -1;
}

table#course-of-population-students tbody tr:nth-child(2n) td:first-child {
  position: sticky;
  left: 0;
  background: rgb(242 242 242) !important;
  overflow: hidden;
  z-index: 0;
}

table#course-of-population-students tbody tr:nth-child(2n + 1) td:first-child {
  position: sticky;
  left: 0;
  background: white !important;
  overflow: hidden;
  z-index: 0;
}
