.tagsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.editableContainer {
  display: inline-block;
  cursor: pointer;
  height: 20px;
}

.selectableIcon {
  margin-top: 8px;
  margin-left: 3px !important;
  margin-right: 1px !important;
  width: 20px !important;

  &:hover {
    font-size: large;
    color: var(--deepBlack);
  }
}

.tag {
  height: 30px !important;
  margin-bottom: 5px !important;
  margin-right: 5px !important;
}

.tagSearch {
  min-width: 400px;
  max-width: 800px;
}
