:root {
  font-size: 16px;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.segmentContainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 82vw;
}

.segmentTitle {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.contentSegment {
  border: none !important;
  box-shadow: none !important;
  margin-top: 0 !important;
  width: 100%;
  min-width: 600px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.level.up.icon {
  cursor: pointer;
}

/* --SEMANTIC UI STICKY TABLE HEADERS-- */

.fixed-header thead tr:first-child th,
.fixed-header thead tr:nth-child(2) th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white !important;
}

.fixed-header thead tr:nth-child(2) th {
  top: 48px;
}

.fixed-header.table thead th:hover,
.fixed-header.table thead th.sorted {
  background-color: #f9fafb !important;
}

/* ------------------------------------ */
