.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chartSegment {
  border: none !important;
  box-shadow: none !important;
  width: 99%;
  max-width: 1200px;
  min-width: 600px;
}
