/* stylelint-disable selector-type-no-unknown */
:root {
  --date-browse {
    font-size: small;
    min-width: 80px;
    display: inline-block;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chartSegment {
  border: none !important;
  box-shadow: none !important;
  width: 99%;
  max-width: 1200px;
  min-width: 600px;
}

.chartTitle {
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-size: larger;
}

.chartContainer {
  padding-right: 52px;
}

.dateSelector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controlIconContiner {
  min-width: 25px;
  min-height: 25px;
  text-align: center;
}

.controlIcon {
  cursor: pointer;

  &:hover {
    font-size: large;
    color: var(--deepBlack);
  }
}

.controlDropdown {
  min-height: 25px;
  padding-left: 2px;
  padding-right: 5px;
}

.dateBrowser {
  margin-right: 25px;
  text-align: center;
}

.selectedDate {
  @apply --date-browse;

  color: var(--darkSilver);
  padding-left: 5px;
  padding-right: 5px;
}
.nextDate {
  @apply --date-browse;

  color: var(--lightGray)
}
