.searchContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 99%;
}

.studentSearch {
  width: 99%;
  max-width: 750px;
}

.searchResultTitle {
  border-bottom: 1px solid var(--darkSilver);
}
