.searchContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.studentSearch {
  width: 100%;
  max-width: 750px;
}

.searchResultTitle {
  border-bottom: 1px solid var(--darkSilver);
}

.clickable {
  cursor: pointer;
}
