/** #filter-tray is used repeatedly as a selector to achieve higher specificity
    without using !important everywhere. */

#filter-tray-toggle {
  transform: rotate(-90deg);
  z-index: 9001;
  position: fixed;
  left: 0;
  top: 100%;
  transform-origin: top left;
}

#filter-tray-toggle .button {
  width: 100vh;
  border-radius: 0;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

#filter-tray-toggle .button .no-filters {
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
  margin-left: 0.4rem;
  letter-spacing: normal;
  text-transform: none;
  vertical-align: top;
}

#filter-tray {
  margin-top: -15px;
}

#filter-tray .pushable {
  display: flex;
  overflow: visible;
}

#filter-tray .pusher {
  margin-left: -19vw;
  width: 100vw;
}

#filter-tray .pushed {
  margin-right: 17vw;
}

#filter-tray .segmentContainer {
  margin-left: 35px;
  width: auto;
}

#filter-tray .sidebar {
  position: sticky;
  top: 0;

  /* I don't know what's up with semantic, let's just hack the width... */
  min-width: 20vw;
  max-width: 20vw;
  height: 100vh !important;
  overflow: hidden;
  background-color: #1a1c1c;
  padding-top: 2rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

#filter-tray .cards {
  background-color: #1b1c1d;
  height: 100vh;
  align-content: flex-start;
  justify-content: center;
  padding-top: 1.5rem;
  margin: 0;
  width: 100%;
}

#filter-tray .card {
  background-color: rgba(255, 255, 255, 0.08);
  border: none;
  box-shadow: none;
}

#filter-tray .cards .header {
  color: white;
}

#filter-tray .card .extra {
  margin: 0 0 0 auto;
  padding-top: 0.2rem;
}

#filter-tray .checkbox {
  margin-left: 0.8rem;
}

#filter-tray label {
  color: #fff;
  font-size: 0.9rem;
}

#filter-control-panel {
  width: 20vw;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #1a1c1c;
}

#filter-status {
  background: none;
  border: none;
}

#filter-status .description {
  color: #818186;
  font-size: 1rem;
  font-style: italic;
  display: flex;
  justify-content: center;
}

#filter-status .filters-are-active {
  color: #fff;
}

#filter-close-button {
  background: rgba(0, 0, 0, 0.3);
  padding: 1rem 1.5rem 1rem 12px;
  width: 100%;
  border-radius: 0;
}
