/** #filter-tray is used repeatedly as a selector to achieve higher specificity
    over semantic-ui without using !important everywhere. */

.filter-tray-toggle {
  transform: rotate(-90deg);
  position: fixed;
  left: 0;
  top: 100%;
  transform-origin: top left;
}

.filter-tray-toggle .button {
  width: 100vh;
  border-radius: 0;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

.filter-tray-toggle .button .button-label {
  display: flex;
  align-items: center;
  letter-spacing: 0.06rem;
}

.filter-tray-toggle .button .label {
  margin-left: 1rem;
}

.filter-tray-toggle.inline-toggle button {
  background-color: rgba(255, 255, 255, 0.08) !important;
}

#filter-tray {
  background-color: #1b1c1d;
  height: 100vh;
  align-content: flex-start;
  justify-content: center;
  margin: 0 0 0 3rem;
}

#filter-tray > .header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.1rem 1rem 1rem 1.7rem;
  border-bottom: 1px solid #a0a0a0;
  align-items: center;
  margin-bottom: 1.5rem !important;
  color: white;
}

#filter-tray > .header > .content {
  display: flex;
  align-items: center;
}

#filter-tray > .header > .content > .label {
  margin-left: 1rem;
}

#filter-tray .segmentContainer {
  margin-left: 35px;
  width: auto;
}

#filter-tray .card {
  background-color: rgba(255, 255, 255, 0.08);
  border: none;
  box-shadow: none;
  margin-bottom: 0;
}

#filter-tray > .card > .content > .header {
  color: white;
  margin: 0;
  padding: 0.8rem;
  cursor: pointer;
}

#filter-tray.cards .content {
  padding: 0;
}

#filter-tray.cards .description,
#filter-tray.cards .extra {
  padding: 0.8rem;
}

#filter-tray .card .extra {
  margin: 0 0 0 auto;
  padding-top: 0.2rem;
}

#filter-tray .checkbox {
  margin-left: 0.8rem;
}

#filter-tray label {
  color: #fff;
  font-size: 0.9rem;
}

#filter-control-panel {
  width: 20vw;
  position: fixed;
  bottom: 0;
  left: -20vw;
  background-color: #0e0f0f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 10;
  padding-top: 1rem;
}

#filter-control-panel.sidebar-open {
  left: 0;
}

#filter-control-panel button {
  padding: 1rem 1.5rem 1rem 12px;
  width: 100%;
  border-radius: 0;
}

#filter-control-panel > .checkbox {
  padding: 1rem;
}

#filter-control-panel label {
  color: #fff !important;
}

#filter-control-panel label::before {
  background-color: #2d2e2f;
}

#filter-close-button {
  background: #1b1c1d;
}
