/* https://stackoverflow.com/a/41396815 */
.verticalTitle {
  writing-mode: vertical-rl;
  min-width: 32px;
  max-height: 20vh;
  overflow-y: hidden;
  text-align: left;
}

.verticalTitle:hover {
  overflow-y: auto;
}

.tableVerticalTitle {
  writing-mode: vertical-rl;
  min-width: 64px;
  max-width: 200%;
  max-height: 200px;
  white-space: initial;
  padding: 1px;
}
