blockquote {
  font-style: italic;
  line-height: 1.618;
  font-size: 1.2em;
  width: 30em;
  position: relative;
  padding: 40px 20px;
}

blockquote::before {
  content: open-quote;
  top: 0;
  left: 0;
}

blockquote::after {
  content: close-quote;
  bottom: 0;
  right: 0;
}

blockquote::before,
blockquote::after {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 1.618;
  font-size: 2em;
  border-radius: 100%;
  text-align: center;
  position: absolute;
}
