version: '3.2'

services:
  # updater_api:
  #   build:
  #     args:
  #       NODE_ENV: 'development'
  #   command: ['npm', 'run', 'dev']
  #   volumes:
  #     - updater-api-nodemod:/usr/src/app/node_modules
  #     - ./updater/updater_api/:/usr/src/app
  #   restart: unless-stopped

  # updater_writer:
  #   build:
  #     args:
  #       NODE_ENV: 'development'
  #   command: ['npm', 'run', 'dev']
  #   volumes:
  #     - updater-writer-nodemod:/usr/src/app/node_modules
  #     - ./services/backend/updater_writer/:/usr/src/app
  #     - ./services/backend/shared/models:/usr/src/app/models
  #     - ./services/backend/shared/migrations:/usr/src/app/database/migrations
  #     - ./services/backend/shared/migrations_kone:/usr/src/app/database/migrations_kone
  #   environment:
  #     DB_SCHEMA_KONE: kone_data
  #   restart: unless-stopped

  # updater_scheduler:
  #   build:
  #     args:
  #       NODE_ENV: 'development'
  #   command: ['npm', 'run', 'dev']
  #   volumes:
  #     - updater-scheduler-nodemod:/usr/src/app/node_modules
  #     - ./updater/updater_scheduler/:/usr/src/app
  #   restart: unless-stopped

  sis-updater-scheduler:
    build:
      args:
        NODE_ENV: 'development'
    command: ['npm', 'run', 'dev']
    volumes:
      - sis-updater-scheduler-nodemod:/usr/src/app/node_modules
      - ./updater/sis-updater-scheduler/:/usr/src/app
    restart: unless-stopped

  sis-updater-worker:
    build:
      args:
        NODE_ENV: 'development'
    command: ['npm', 'run', 'dev']
    volumes:
      - sis-updater-worker-nodemod:/usr/src/app/node_modules
      - ./updater/sis-updater-worker/:/usr/src/app
    restart: unless-stopped

volumes:
  sis-updater-scheduler-nodemod:
  sis-updater-worker-nodemod:
  # updater-api-nodemod:
  # updater-scheduler-nodemod:
  # updater-writer-nodemod:
