version: '3.2'

services:
  # updater_api:
  #   image: toska/updater_api:${TAG}
  #   build:
  #     cache_from:
  #       - toska/updater_api:trunk
  #       - toska/updater_api:staging
  #       - toska/updater_api:latest

  # updater_writer:
  #   image: toska/updater_writer:${TAG}
  #   build:
  #     cache_from:
  #       - toska/updater_writer:trunk
  #       - toska/updater_writer:staging
  #       - toska/updater_writer:latest

  # updater_scheduler:
  #   image: toska/updater_scheduler:${TAG}
  #   build:
  #     cache_from:
  #       - toska/updater_scheduler:trunk
  #       - toska/updater_scheduler:staging
  #       - toska/updater_scheduler:latest

  sis-updater-scheduler:
    image: toska/sis-updater-scheduler:${TAG}
    environment:
      CI: 1
    build:
      cache_from:
        - toska/sis-updater-scheduler:trunk
        - toska/sis-updater-scheduler:staging
        - toska/sis-updater-scheduler:latest

  sis-updater-worker:
    image: toska/sis-updater-worker:${TAG}
    environment:
      CI: 1
    build:
      cache_from:
        - toska/sis-updater-worker:trunk
        - toska/sis-updater-worker:staging
        - toska/sis-updater-worker:latest
    container_name: oodikone_sis-updater-worker_1
