/* stylelint-disable number-max-precision */

.ok-sortable-table thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.ok-sortable-table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}

.ok-sortable-table.first-column-sticky th:first-child {
  z-index: 3;
}

.ok-sortable-table.first-column-sticky th:first-child,
.ok-sortable-table.first-column-sticky td:first-child {
  position: sticky !important;
  left: 0;
  border-right: 1px solid rgb(34 36 38 / 10%);
  background-color: white;
}

.ui.table .sortable-table-date-picker .rdt th,
.ui.table .sortable-table-date-picker .rdt td {
  border: none;
  padding: 0;
  text-align: center;
  color: black;
  font-weight: normal;
}

.ok-sortable-table.first-column-sticky.striped tbody tr:nth-child(even) td:first-child {
  background-color: rgb(242 242 242);
}

.ui.table .sortable-table-date-picker {
  color: black;
  font-weight: normal;
}

.ui.table .sortable-table-date-picker .rdt td.rdtActive {
  background-color: #428bca;
  color: white;
}

.ui.striped.table thead .sortable-table-date-picker .rdt tr {
  background-color: white !important;
}

.ok-sortable-table th .column-tools {
  align-items: center;
  display: flex;
  background-color: white;
  position: absolute;
}

.ok-sortable-table th .column-tools > div {
  padding: 0 0.78571429em;
}

.ok-sortable-table th > div > .column-tools.floating {
  opacity: 0 !important;
  top: 0;
  bottom: 0;
  right: 0;
}

.ok-sortable-table th > div > .column-tools.fixed {
  right: 0;
}

.ok-sortable-table th:hover > div > .column-tools.floating,
.ok-sortable-table th.filter-menu-open > div > .column-tools.floating {
  opacity: 1 !important;
}

.ok-sortable-table th:hover > div > .column-tools.floating::before,
.ok-sortable-table th.filter-menu-open > div > .column-tools.floating::before {
  position: absolute;
  top: 0;
  bottom: 0;
  content: '';
  background: linear-gradient(to left, white, transparent);
  width: 20px;
  right: 100%;
}

.ok-sortable-table th > div > .column-tools.dangling {
  opacity: 0;
  pointer-events: none;
}

.ok-sortable-table th:hover > div > .column-tools.dangling,
.ok-sortable-table th.filter-menu-open > div > .column-tools.dangling {
  pointer-events: all;
  background-color: #f4f4f4;
  top: calc(100% - 2em + 1px);
  opacity: 1;
  left: 100%;
  z-index: 2;
  height: 2em;
  right: initial;
  border: 1px solid #e8e8e9;
  border-left: none;
}

.filter-menu {
  position: absolute;
  outline: 0;
  top: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: 1em;
  text-shadow: none;
  text-align: left;
  box-shadow: 0 2px 3px 0 rgb(34 36 38 / 15%);
  border: 1px solid rgb(34 36 38 / 15%);
  border-radius: 0.28571429rem;
  transition: opacity 0.1s ease;
  z-index: 11;
  will-change: transform, opacity;
  max-width: 15em;
}

i.filter.icon {
  cursor: pointer;
}

.filter-menu > div > .ui.input {
  margin: 1.14285714rem 0.78571429rem;
  width: calc(100% - 2 * 0.78571429rem);
}

.filter-menu .scrolling.menu {
  position: static;
  overflow-y: auto;
  border: none;
  box-shadow: none !important;
  border-radius: 0 !important;
  margin: 0 !important;
  min-width: 100% !important;
  width: auto !important;
  border-top: 1px solid rgb(34 36 38 / 15%);
  max-height: 15.42857143rem;
}

.filter-menu .actions {
  border-top: 1px solid rgb(34 36 38 / 15%);
}

.filter-menu .item {
  position: relative;
  cursor: pointer;
  display: block;
  border: none;
  height: auto;
  text-align: left;
  border-top: none;
  line-height: 1em;
  color: rgb(0 0 0 / 87%);
  padding: 0.78571429rem 1.14285714rem !important;
  font-size: 1rem;
  text-transform: none;
  font-weight: 400;
  box-shadow: none;
}

.filter-menu .item:hover {
  background: rgb(0 0 0 / 5%);
  color: rgb(0 0 0 / 95%);
  z-index: 13;
}

body.figure-fullscreen {
  overflow: hidden;
}
