#oodi-sidebar {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
}

#oodi-sidebar .pusher {
  width: 360px;
  position: sticky;
  top: 0;
  height: 100vh !important;
  overflow: hidden;
  background-color: #1a1c1c;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  margin-left: -360px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 5;
}

#oodi-sidebar.sidebar-open .pusher {
  margin-left: 0;
}

#oodi-sidebar .pushable {
  width: calc(100% - 3.2rem);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#oodi-sidebar.sidebar-open .pushable {
  width: calc(100% - 360px);
}
