#oodi-sidebar {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
}

#oodi-sidebar .pusher {
  width: 20vw;
  position: sticky;
  top: 0;
  height: 100vh !important;
  overflow: hidden;
  background-color: #1a1c1c;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-left: -20vw;
}

#oodi-sidebar.sidebar-open .pusher {
  margin-left: 0;
}

#oodi-sidebar .pushable {
  width: calc(100% - 3.2rem);
}

#oodi-sidebar.sidebar-open .pushable {
  width: 79vw;
}
