.cardContainer {
  min-width: 600px !important;
  padding: 5px 0 5px 5px !important;
  margin: 0 5px 5px !important;
  background-color: var(--lightSilver) !important;
  align-self: flex-start;
}

.cardHeader {
  display: flex !important;
  justify-content: space-between !important;
}

.controlIcon {
  cursor: pointer;
}

.dateItem {
  display: inline-block;
}

.controlIconLink {
  color: inherit;
}
