:root {
  --flex-default: {;

    display: flex;;
    align-items: center;;
    justify-content: space-around;
  }
}

.tooltipHeader {
  font-size: 17px !important;
  max-width: 400px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tooltipMeta {
  @apply --flex-default;
}

.tooltipBody {
  @apply --flex-default;
}

.tooltipBodyItem {
  @apply --flex-default;

  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}

.tooltipBodyTitle {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 12px;
}

.tooltipBodyValue {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 18px;
  position: absolute;
  top: 14px;
}
