.modeSelectorRow {
  margin-top: 1em !important;
  padding-bottom: 0 !important;
}

.modeSelectorContainer {
  margin-left: 2em;
  width: 100%;
}

.chartToggleContainer {
  display: flex;
  margin-bottom: 1.5em;
}

.toggleContainer {
  display: flex;
  align-items: center;
}

.toggleLabel {
  cursor: pointer;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.totalsDisclaimer {
  font-style: italic;
  color: gray;
}
