name: 'Release to production'

on:
  push:
    branches:
      - master # Switch to on release
    paths:
      - '.github/workflows/test-oodikone.yaml'
      - '.github/actions/**'
      - 'cypress/**'
      - 'cypress.config.json'
      - 'services/**'
      - '!services/backend/src/rapodiff.js'
      - 'docker-compose.ci.yml'
      - 'package*.json'
      - 'updater/sis-updater-worker/src/db/migrations/**'

jobs:
  release_frontend:
    name: 'Build and release frontend'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: 'Get current time'
        id: get_current_time
        run: echo "NOW=$(date --iso-8601=seconds)" >> $GITHUB_OUTPUT

      - name: Extract release version
        id: extract_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Build frontend image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: oodikone-frontend
          tags: production ${{ github.sha }}
          context: services/frontend
          containerfiles: |
            services/frontend/Dockerfile
          build-args: |
            BUILT_AT=${{ steps.get_current_time.outputs.NOW }}
            SENTRY_RELEASE=${{ steps.extract_version.outputs.VERSION }}
            SENTRY_ENVIRONMENT=production

      - name: Push to quay.io
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: quay.io/toska
          username: toska+github
          password: ${{ secrets.QUAY_IO_TOKEN }}

  release_backend:
    name: 'Build and release backend'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Extract release version
        id: extract_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Build backend image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: oodikone-backend
          tags: production ${{ github.sha }}
          context: services/backend
          containerfiles: |
            services/backend/Dockerfile
          build-args: |
            SENTRY_RELEASE=${{ steps.extract_version.outputs.VERSION }}
            SENTRY_ENVIRONMENT=production

      - name: Push to quay.io
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: quay.io/toska
          username: toska+github
          password: ${{ secrets.QUAY_IO_TOKEN }}

  sentry_release:
    name: 'Create Sentry release'
    runs-on: ubuntu-latest
    needs:
      - release_frontend

    steps:
      - uses: actions/checkout@v3

      - name: Extract release version
        id: extract_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Pull image and create a container
        run: docker create --name kliksutin quay.io/toska/oodkone-frontend:production

      - name: Copy assets from the container
        run: docker cp oodikone-frontend:/opt/app-root/src/build ./build

      - name: Create Sentry release
        uses: getsentry/action-release@v1
        env:
          SENTRY_URL: ${{ secrets.SENTRY_URL }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: toska
          SENTRY_PROJECT: oodikone
        with:
          environment: production
          set_commits: 'skip'
          sourcemaps: './build/static/js'
          url_prefix: '~/static/js'
          version: ${{ steps.extract_version.outputs.VERSION }}

  report_success:
    name: 'Report deployment success to oodikone notifications'
    runs-on: ubuntu-latest
    needs:
      - release_frontend
      - release_backend
      - sentry_release

    if: success()

    steps:
      - uses: actions/checkout@v3
      - name: 'Send notification to slack'
        uses: UniversityOfHelsinkiCS/slackbot-action@v1.4.2
        with:
          webhook-url: ${{ secrets.WEBHOOK_URL }}
          message-type: deployment
          softa-url: https://oodikone.cs.helsinki.fi/
          deployment-target: production

  report_failure:
    name: 'Report deployment failure to oodikone notifications'
    runs-on: ubuntu-latest
    needs:
      - release_frontend
      - release_backend

    if: failure()

    steps:
      - uses: actions/checkout@v3
      - name: 'Send notification to slack'
        uses: UniversityOfHelsinkiCS/slackbot-action@v1.4.2
        with:
          webhook-url: ${{ secrets.WEBHOOK_URL }}
          message-type: deployment-failure
          deployment-target: production
