name: 'Run tests'

on:
  pull_request:
    branches:
      - master
    paths:
      - 'cypress/**'
      - 'cypress.config.json'
      - 'services/**'
      - '!services/backend/src/rapodiff/**'
      - 'docker-compose.ci.yml'
      - 'package*.json'

jobs:
  lint_packages:
    name: 'Lint packages'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Lint backend, frontend and shared
        uses: ./.github/actions/lint

  test_api:
    needs:
      - lint_packages
    strategy:
      fail-fast: false
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install node-24 for cypress
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: 'Login to toska docker registry'
        uses: docker/login-action@v3
        with:
          registry: registry-toska.ext.ocp-prod-0.k8s.it.helsinki.fi
          username: ${{ secrets.TOSKAREGISTRY_USERNAME }}
          password: ${{ secrets.TOSKAREGISTRY_PASSWORD }}

      - name: Start oodikone detached
        run: npm run oodikone:ci:setup

      - name: Run api-tests
        run: npm run oodikone:ci:api

  test_end_to_end:
    runs-on: ubuntu-latest
    needs:
      - lint_packages
      - test_api
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: 'Test course statistics'
            spec: cypress/e2e/Course_statistics.js
          - name: 'Test custom population'
            spec: cypress/e2e/Custom_population.js
          - name: 'Test population statistics'
            spec: cypress/e2e/Population_statistics.js
          - name: 'Test filters'
            spec: cypress/e2e/Filters.js
          - name: 'Test students'
            spec: cypress/e2e/Students.js
          - name: 'Test completed courses'
            spec: cypress/e2e/Completed_courses.js
          - name: 'Test degree programme overview'
            spec: cypress/e2e/Degree_programme_overview.js
          - name: 'Test teachers and users'
            spec: |
              cypress/e2e/Teachers.js
              cypress/e2e/Users.js
          - name: 'Test faculty statistics'
            spec: cypress/e2e/Faculty_statistics.js
          - name: 'Test open uni search'
            spec: cypress/e2e/Openuni.js
          - name: 'Test language center view'
            spec: cypress/e2e/Language_center.js
          - name: 'Test study guidance groups'
            spec: cypress/e2e/Study_guidance_groups.js
          - name: 'Test university'
            spec: cypress/e2e/University.js
    name: ${{ matrix.name }}
    steps:
      - uses: actions/checkout@v5
      - name: 'Run tests'
        uses: ./.github/actions/run-tests
        with:
          username: ${{ secrets.TOSKAREGISTRY_USERNAME }}
          password: ${{ secrets.TOSKAREGISTRY_PASSWORD }}
          spec: ${{ matrix.spec }}
          test_name: ${{ matrix.name }}
