name: 'Test oodikone and release to staging'

on:
  push:
    branches:
      - master
      - openshift
    paths:
      - '.github/workflows/test-oodikone.yaml'
      - '.github/**'
      - 'cypress/**'
      - 'cypress.config.json'
      - 'services/**'
      - '!services/backend/src/rapodiff.js'
      - 'docker-compose.ci.yml'
      - 'docker-compose.test.yml'
      - 'nginx.conf'
      - 'package*.json'
      - 'updater/sis-updater-worker/src/db/migrations/**'

jobs:
  test:
   uses: ./.github/workflows/test.yaml
   secrets:
     username: ${{ secrets.TOSKAREGISTRY_USERNAME }}
     password: ${{ secrets.TOSKAREGISTRY_PASSWORD }}

  release_frontend:
    name: 'Build and release frontend'
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v3

      - name: Build frontend image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: oodikone-frontend
          tags: staging ${{ github.sha }}
          context: services/frontend
          containerfiles: |
            services/frontend/Dockerfile
          build-args: |
            BUILT_AT=${{ steps.get_current_time.outputs.NOW }}
            BASE_PATH=/oodikone
            GIT_SHA=${{ github.sha }}
            STAGING=true

      - name: Push to quay.io
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: quay.io/toska
          username: toska+github
          password: ${{ secrets.QUAY_IO_TOKEN }}

  release_backend:
    name: 'Build and release backend'
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v3

      - name: Build backend image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: oodikone-backend
          tags: staging ${{ github.sha }}
          context: services/backend
          containerfiles: |
            services/backend/Dockerfile
          build-args: |
            BASE_PATH=/oodikone
            GIT_SHA=${{ github.sha }}
            STAGING=true

      - name: Push to quay.io
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: quay.io/toska
          username: toska+github
          password: ${{ secrets.QUAY_IO_TOKEN }}
