name: 'Lint and test'

on:
  workflow_call:
    secrets:
      username:
        required: true
        description: 'Toska registry username'
      password:
        required: true
        description: 'Toska registry password'
  push:
    branches:
      - development
  pull_request:
    branches: [main, development]

jobs:
  # === Static tests / linting ===
  lint_backend:
    name: 'Lint backend'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: 'Install dependencies'
        run: npm ci && cd services/backend && npm ci
      - name: 'Run backend linter'
        run: npm run eslint services/backend

  lint_frontend:
    name: 'Lint frontend'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: 'Install dependencies'
        run: npm ci && cd services/frontend && npm ci
      - name: 'Run frontend linter'
        run: npm run concurrently \
          'eslint --ext .jsx,.js services/frontend/src --report-unused-disable-directives' \
          'stylelint services/frontend/src/**/*.css'

  # === Build database images ===
  build_backend:
    name: 'Build backend'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - name: 'Build image and export it'
        uses: docker/build-push-action@v5
        with:
          build-args: |
            SENTRY_RELEASE=${{ github.sha }}
            SENTRY_ENVIRONMENT=staging
          context: services/backend
          push: false
          tags: oodikone-backend:staging
          outputs: type=docker,dest=/tmp/backend.tar
      - name: 'Upload image for other jobs'
        uses: actions/upload-artifact@v3
        with:
          path: /tmp/backend.tar

  build_and_push_anon_sis_db:
    name: 'Build anon sis-db and push to toska hub if new migrations have been added'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: check_migrations
        with:
          filters: |
            migrations:
              - 'updater/sis-updater-worker/src/db/migrations/**'
              - '.github/workflows/test.yaml'
      - name: 'Login to toska docker registry'
        uses: docker/login-action@v3
        with:
          registry: registry-toska.ext.ocp-prod-0.k8s.it.helsinki.fi
          username: ${{ secrets.username }}
          password: ${{ secrets.password }}
      - name: 'Let sis-updater-worker run migrations, then push new version of image to toska hub'
        if: steps.check_migrations.outputs.migrations == 'true'
        run: |
          docker-compose --file docker-compose.ci.yml up --detach sis-updater-worker
          sleep 30 # wait for sis-updater-worker to start and run migrations
          ./anonyymioodi/commit_and_push_to_toska_hub.sh sis-db

  build_and_push_anon_kone_db:
    name: 'Build anon kone-db and push to toska hub if new migrations have been added'
    needs:
      - build_backend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: check_migrations
        with:
          filters: |
            migrations:
              - 'services/backend/src/database/migrations_kone/**'
              - '.github/workflows/test.yaml'
      - name: 'Download images'
        uses: actions/download-artifact@v3
        with:
          path: /tmp/
      - name: 'Load built backend image'
        run: docker load --input /tmp/artifact/backend.tar
      - name: 'Login to toska docker registry'
        uses: docker/login-action@v3
        with:
          registry: registry-toska.ext.ocp-prod-0.k8s.it.helsinki.fi
          username: ${{ secrets.username }}
          password: ${{ secrets.password }}
      - name: 'Let backend run migrations, then push new version of image to toska hub'
        if: steps.check_migrations.outputs.migrations == 'true'
        run: |
          docker-compose --file docker-compose.ci.yml up --detach backend
          sleep 30 # wait for sis-updater-worker to start and run migrations
          ./anonyymioodi/commit_and_push_to_toska_hub.sh kone-db

  build_and_push_anon_user_db:
    name: 'Build anon user-db and push to toska hub if new migrations have been added'
    needs:
      - build_backend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: check_migrations
        with:
          filters: |
            migrations:
              - 'services/backend/src/database/migrations_user/**'
              - '.github/workflows/test.yaml'
      - name: 'Download images'
        uses: actions/download-artifact@v3
        with:
          path: /tmp/
      - name: 'Load built backend image'
        run: docker load --input /tmp/artifact/backend.tar
      - name: 'Login to toska docker registry'
        uses: docker/login-action@v3
        with:
          registry: registry-toska.ext.ocp-prod-0.k8s.it.helsinki.fi
          username: ${{ secrets.username }}
          password: ${{ secrets.password }}
      - name: 'Let backend run migrations, then push new version of image to toska hub'
        if: steps.check_migrations.outputs.migrations == 'true'
        run: |
          docker-compose --file docker-compose.ci.yml up --detach backend
          sleep 30 # wait for sis-updater-worker to start and run migrations
          ./anonyymioodi/commit_and_push_to_toska_hub.sh user-db

  # === End-to-end tests ===
  test_end_to_end:
    runs-on: ubuntu-latest
    needs:
      - build_and_push_anon_sis_db
      - build_and_push_anon_kone_db
      - build_and_push_anon_user_db
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: 'Test course statistics'
            spec: cypress/e2e/Course_statistics.js
          - name: 'Test custom population'
            spec: cypress/e2e/Custom_population.js
          - name: 'Test population statistics'
            spec: cypress/e2e/Population_statistics.js
          - name: 'Test filters'
            spec: cypress/e2e/Filters.js
          - name: 'Test students'
            spec: cypress/e2e/Students.js
          - name: 'Test completed courses'
            spec: cypress/e2e/Completed_courses.js
          - name: 'Test studyprogramme overview'
            spec: cypress/e2e/Studyprogramme_overview.js
          - name: 'Test teachers and users'
            spec: |
              cypress/e2e/Teachers.js
              cypress/e2e/Users.js
          - name: 'Test faculty statistics'
            spec: cypress/e2e/Faculty_statistics.js
          - name: 'Test open uni search'
            spec: cypress/e2e/Openuni.js
          - name: 'Test language center view'
            spec: cypress/e2e/Language_center.js
          - name: 'Test study guidance groups'
            spec: cypress/e2e/Study_guidance_groups.js
    name: ${{ matrix.name }}
    steps:
      - uses: actions/checkout@v4
      - name: 'Run tests'
        uses: ./.github/actions/run-tests
        with:
          username: ${{ secrets.username }}
          password: ${{ secrets.password }}
          spec: ${{ matrix.spec }}

  # === Other tests ===
  test_service_exit_statuses:
    name: 'Check services run correctly'
    needs:
      - build_and_push_anon_sis_db
      - build_and_push_anon_kone_db
      - build_and_push_anon_user_db
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: 'Login to toska docker registry'
        uses: docker/login-action@v3
        with:
          registry: registry-toska.ext.ocp-prod-0.k8s.it.helsinki.fi
          username: ${{ secrets.username }}
          password: ${{ secrets.password }}

      - name: 'Run services, pull rest of the needed images'
        run: docker-compose --file docker-compose.ci.yml up --detach

      - name: 'Check that exit statuses are not errors'
        run: |
          docker ps -a
          if [[ $(docker ps --all | grep -Eo '(Exited|Restarting) \([0-9]+\)' | grep -Eo '[0-9]+' | awk 'BEGIN {sum=0} { sum += $1 } END { print sum }') != '0' ]]; then
            echo 'Some process had nonzero exit code';
            exit 1;
          fi

      - name: 'Print logs on failure'
        if: failure()
        run: docker-compose --file docker-compose.ci.yml logs
